<ion-header>
  <ion-toolbar>
    <ion-title class="title">
      
      <div class="example1">
        <h3>.APK BOOK STORE</h3>
        </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="../../assets/shelf-3195135_960_720.jpg" alt="" />
      <ion-card-header>
        
        <ion-card-title>Welcome to .APK BOOK STORE</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Thats the thing about books. They let you travel without moving your feet.</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Languages</ion-label>
      </ion-list-header>
      <ion-item href="https://ionicframework.com/docs/">
      <img  src="../../assets/ionic-icon.png" style="width: 20px;">
       <ion-label style="margin-left: 20px;">Ionic</ion-label>
      </ion-item>
      <ion-item href="https://docs.microsoft.com/en-us/xamarin">
        <img  src="../../assets/xamarine.png" style="width: 20px;">
       <ion-label style="margin-left: 20px;">Xamarine</ion-label>
      </ion-item>
      <ion-item href="https://kotlinlang.org/docs/reference/">
        <img  src="../../assets/kotlin.jpg" style="width: 20px;">
       <ion-label style="margin-left: 20px;">Kotlin</ion-label>
      </ion-item>
      <ion-item href="https://developer.android.com/docs">
        <img  src="../../assets/java_633928.png" style="width: 20px;">
        <ion-label style="margin-left: 20px;">Java</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
